# dependencies
node_modules
frontend/node_modules

# builds
frontend/dist

# env (nu commit secrete)
.env
.env.*
frontend/.env
frontend/.env.*
!.env.example
!.env.test.example

# logs
*.log

# coverage
coverage
frontend/coverage

# uploads
uploads

# misc
.DS_Store

/generated/prisma
